NewsReader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NewsReader.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NewsReader.xcodeproj/project.xcworkspace/xcuserdata/macbook.xcuserdatad/UserInterfaceState.xcuserstate
NewsReader.xcodeproj/xcuserdata/macbook.xcuserdatad/xcschemes/xcschememanagement.plist
